body {
    height: 2000px;
}
.box {
    background-color: #6a6;
    border: 2px solid red;
}
.box.pad {
    padding: 10px;
}
.item {
    margin: 15px;
    background-color: #de1e7e;
}
div p {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 2px solid;
    border-style:  dotted;
    border-color: red ;
    background-color: #fb1;

}
.link {
    
    border-bottom: dashed;
    border-bottom-color: blue;
    background-color: #a1a1a1;
    margin-bottom: 10px;
}
